<header>
	<title>Matt's Tiny App</title>

     
     <% if(username){ %>
	   	Logged in as : <b><%= username %></b> 
	   	<form method ="POST" action="/logout">
	   	<input type="submit" value= "Log out">
	   	</form>
 	<% } else{ %>  
    <form method="POST" action="/login">
    	<input type= "text" default="Your Username" name ="username">
        <input type="submit" value="Login">
    </form>
	<% } %>

</header>



