
<% if (uname) { %>

<form method ="POST" action="/logout">
	Logged in as <b><%= uname %></b><i> (<%=uemail%>)</i> <input type="submit" value= "Log out">
</form>


<%}else{%>

<form method ="GET" action="/login">
	<input type="submit" value="Login">
</form>
<form method ="GET" action="/register">
	<input type="submit" value="Register">
</form>
<% } %>
<b><center> <h1 style="font-family: verdana, sans-serif;"> MATT'S COOL TINY APP</h1></b></center>
<br>     





