<!DOCTYPE html>
<html>
<head>
<% include partials/_header.ejs %>
	
</head>
<body>

	<h3 style="font-family: verdana, sans-serif;"> Register now!</h3> <br><br>
	<form method ="POST" action = "/register">
		<input type="text" placeholder="Your name" name="id"><br>
		<input type="text" placeholder="E-mail" name="email"><br>
		<input type="text" placeholder="Password" type="password" name="password">
		<input type="submit" value="Register" name="register">
	</form>
</body>
</html>