<!DOCTYPE html>
<html>
<head>
	<title>Register for Matt's Tiny App.</title>
</head>
<body>
	<form method ="POST" action = "/registering">
	<input type="text" placeholder="Your name" name="id"><br>
	<input type="text" placeholder="E-mail" name="email"><br>
	<input type="text" placeholder="Password" type="password" name="password">
	<input type="submit" value="Register" name="register">

	</form>
</body>
</html>