<!DOCTYPE html>
<html>
<% include partials/_header.ejs %>
<body>
	<% if (uname) {%>
	<h2>Your Shortened URLs</h2> 
<ul>
    <% for(shorts in urls[id]) { %>
		    <form method="POST" action="/urls/<%= shorts %>/delete">
        <li><%= shorts %> = <%= urls[id][shorts] %>
		    	<a href="/urls/<%= shorts %>"> &#x1F6E0 </a><input type="submit" value="DESTROY!! &#x1F5d1">	
	<% } %>	    		
		</li><br>    	
		    </form>
		    <form method="GET" action="/urls/new"><input type="submit" value="add new"></form>	
    <% } %>

</ul>		
</body>
</html>
