<!DOCTYPE html>
<html>
<% include partials/_header.ejs %>
<body>
	<% if (uname) {%>
	<h2>Your Shortened URLs</h2> 
<ul>
    <% for(shorts in urls[id]) { %>
		    
        <li><%= shorts %> = <%= urls[id][shorts] %>
        		<form method="GET" action="/urls/<%= shorts %>/">

		    	<input type="submit" value="Edit &#x1F6E0"></form>	
		    	<form method="POST" action="/urls/<%= shorts %>/delete">

		    	<input type="submit" value="DESTROY!! &#x1F5d1">	
	<% } %>	    		
		</li><br>    	
		    </form>
		    <form method="GET" action="/urls/new"><input type="submit" value="add new"></form>	
    <% } else {%>
    <h3> Please log in to start shortening URLs.</h3>
    <% } %>

</ul>		
</body>
</html>
