	<!DOCTYPE html>
<html>
<% include partials/_header.ejs %>
<body>


<% if (!id){ %>
Please log in to start editing URLs.
	
<% } else if (id === "nope") { %>
		You do not have permission to edit this URL.
<% } else { %>
<h1>Short URL: <%= shortURL %></h1>
<h2> for <%= urls[id][shortURL] %> </h2>
<br>
<br>

<form method="POST" action="/urls/<%= shortURL %>/POST">
<label for="longURL">Edit: </label>
<input id="longURL" type="text" name="longURL" placeholder="new info" style="width: 300px">

<input type="submit" value="Update &#x1F6E0">	
</form>
<form method ="GET" action="/urls/">
	<input type ="submit" value="My URLS">
</form>
<% } %>
</body>

</html>