<!DOCTYPE html>
<html>
<% include partials/_header.ejs %>
<body>
<ul>
    <% for(shorts in urls) { %>
		    <form method="POST" action="/urls/<%= shorts %>/delete">
        <li><%= shorts %> = <%= urls[shorts] %>
		    	<input type="submit" value="DESTROY!! &#x1F5d1">		
		</li><br>    	
		    </form>
    <% }; %>
</ul>		
</body>
</html>
